/* font import */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/* akhir import */

span.navbar-toggler-icon {
    background-image: url(img/icon/list.svg);
}

span.navbar-toggler-icon.close {
    background-image: url(img/icon/x-lg.svg);
}

.navbar button {
    color: transparent !important;
}

.navbar {
    background: transparent !important;
    font-weight: bold;
}

.navbar.scrolled {
    background: #087745 !important;
}

.navbar a {
    text-decoration: none;
    border-radius: 20px;
    color: #fff;
}

.navbar a:hover {
    background: rgba(220, 220, 220, 0.5);
    color: #087745;
}

i {
    
}

.jumbotron {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 0.5px 1px 1px #ddd;
    padding: 5rem;
    background-image: url(img/sampul1.jpg);
    background-attachment: fixed;
    background-position: 0 -60px;
    background-size: cover;
    overflow: hidden;
}

.jumbotron img {
    width: 100px;
}

.jumbotron p {
    font-family: 'Space Mono', monospace;
}

section h2 {
    font-weight: bold;
}

/* About */
.about {
    padding-top: 4rem;
    background-color: white;
}
/* Akhir About */

/* Facility Timeline Efek */
.facility {
    padding-top: 4rem ;
    background-color: #ddd;
}

.facility .timeline ul li {
    opacity: 0;
    transform: translate(0, -50);
    transition: 0.8s;
}

.facility .timeline ul li.fade {
    opacity: 1;
    transform: translate(0, 0);
}

.timeline {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #000;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 20px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

.timeline ul li:nth-child(odd):hover:before {
    background-color: #087745;
}

.timeline ul li:nth-child(even):hover:before {
    background-color: #087745;
}

.content {
    padding-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 5px;
    background: white;
}

.timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 0px;
    right: -11px;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 0px;
    left: -9px;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.timeline ul li h3 {
    margin: 0;
    padding: 0;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    line-height: 1.7;
}

/* Akhir Timeline efek */

/* Program */
.program {
    padding-top: 4rem;
}
/* Akhir Program */

/* Gallery */
.gallery {
    background-color: #ddd;
}

.carousel-item img{
    height: 300px;
}

/* Akhir Gallery */


/* Breakpoint */
@media (max-width: 768px) {

    .timeline ul li {
        width: 100%;
    }

    .timeline:before {
        left: 0;
    }

    .timeline ul li:nth-child(odd){
        text-align: left;
    }

    .timeline ul li:nth-child(even){
        float: left;
    }

    .timeline ul li:nth-child(odd):before {
        left: -9px;
    }
    
}

/* Akhir Breackpoint */

/* Semua animasi CSS */
@keyframes fade {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* akhir animasi */

